/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Font Style */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Header Section */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Sections */
section {
    margin: 30px 0;
}

section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

section p, section ul, section ol {
    font-size: 1.2rem;
    line-height: 1.5;
}
.second-banner {
    align-items: center;     
}


ol, ul {
    margin-left: 20px;
}


    footer {
        background-color: #222;
        color: #fff;
        text-align: center;
        padding: 15px 0;
        font-size: 14px;
    }
    .footer-container a {
        color: #00aaff;
        text-decoration: none;
    }
    .footer-container a:hover {
        text-decoration: underline;
    }

/* Links */
a:hover {
    text-decoration: underline;
}
    .cta-button {
        display: inline-block;
        background-color: #ff6600;
        color: white;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 8px;
        text-decoration: none;

        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .cta-button:hover {
        background-color: #cc5500;
        transform: scale(1.05);
    }


.explore {
    margin-top: 30px;
    margin-bottom: 30px;
}
.explore p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
} 

.google-ad {
    margin-top: 30px;
    margin-bottom: 30px;
}

.facebook {
    margin-top: 20px;
}
   
    
